<!--recipe-form-->

<h2>Add a Recipe</h2>

<form action="/recipes" method="post">
  <div class="form-group">
    <label for="name">Name of Recipe</label>
    <input id="name" name="name" type="text" class="form-control" required>
  </div>
  <button type="submit" class="btn btn-success">Add Recipe</button>
</form>
